<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>scrabble</title>
    </head>
    <body>
        <div class="container">
            <h1>Let's add up your scrabble score princess</h1>
            <form action="/score">
                <div class="form-group">
                    <label for="word"></label>
                    <input class="form-control" type="text" name="word" id="word" required>
                </div>
                <button type="submit" name="button">NOW!</button>
            </form>
        </div>
    </body>
</html>
