<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>scrabble score</title>
    </head>
    <body>
        <div class="container">
            <h1>Here's your score, ya nerd</h1>
            <h3>{{ result }}</h3>
        </div>
    </body>
</html>
